body{
    margin: 0;
    padding: 0;
}

header{
    background-color: lightblue;
    display: flex;
    height: 10%;
    width: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
}

.logo{
    background-color: bisque;
    width: auto;
    height: auto;
}

nav{
    background-color: aquamarine;
    align-self: flex-end;
}

li{
    text-decoration: none;
    display: inline-block;
}

.opc_user{
    background-color: lightcoral;
}

.icone_header{
    background-color: lightgreen;
    width: auto;
    height: 100px;
}

h2{
    text-align: center;
    font-size: 36px;
}

form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10%;
}

input{
    width: 256px;
    height: 52px;
    background-color: #F1F1F1;
    border-style: none;
    padding-left: 5%;
}

select{
    width: 256px;
    height: 52px;
    background-color: #F1F1F1;
    border-style: none;
    padding-left: 5%;
}

.coluna{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

#botao_cadastrar{
    width: 149px;
    height: 56px;
    background-color: #A5CF3A;
    border-style: none;
    align-self: center;
}

#botao_limpar{
    width: 149px;
    height: 56px;
    align-self: center;
    background-color: white;
    border: 3px solid #A5CF3A;
}