.contaienr-form_ajusteObra{
    position: fixed;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 400px;
    padding:  5px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    left: 35vw;
    top: 9vw;
    z-index: 1;
}

.config-obra-coluna1, .config-obra-coluna2{
   margin-top: 10vh;
    width: 220px;
    height: 220px;
}


.contaienr-form_ajusteObra{
margin: auto;
}

.config-obra-coluna1 input{
    background-color: #f1f1f1;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.config-obra-coluna2 input{
    background-color: #f1f1f1;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.config-obra-coluna2 select{
    background-color: #f1f1f1;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.confirmar-ajuste{
    width: 120px;
    height: 35px;
    background-color: #A5CF3A;
    border-style: none;
    align-self: center;
    font-size: 18px;
    text-align: center;
    border-radius: 2px;
    
    
}