.contaienr-form_ajusteObra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 300px;
    padding:  5px;
    justify-content: center;
    border: 1px solid black;
}

.config-obra-coluna1, .config-obra-coluna2{
   
    width: 250px;
    height: 250px;
}


.textajus{
    text-align: center;
}

.contaienr-form_ajusteObra{
margin: auto;
}

.config-obra-coluna1 input{
    background-color: #f1f1f1;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.config-obra-coluna2 input{
    background-color: #f1f1f1;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.config-obra-coluna2 select{
    background-color: #f1f1f1;
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.confirmar-ajuste{
    width: 120px;
    height: 35px;
    background-color: #A5CF3A;
    border-style: none;
    align-self: center;
    font-size: 18px;
    text-align: center;
    border-radius: 2px;
    
}