@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    font-family: 'Caladea';
    font-weight: 400;
}

.header-relatorios {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.canto-direito {
    display: flex;
}

#header-relatorio-nav {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 180px;
    font-size: 25px;
    color: black;
}

nav a {
    color: black;
}

#header-relatorio-nav a:hover {
    color: #A5CF3A;
}

#divusuario {
    font-size: 1.5em;

}

.header-relatorios img {
    height: 90px;
}

#h2relatorio {
    padding: 25px;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 400;

}

.gerar-relatorio {

    padding: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;

}

.coluna-esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.coluna-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

/*------------------*/
input[type="date"] {
    background-color: #F1F1F1;
    border: none;
    border-radius: 6px;
    width: 24rem;
    height: 3rem;

    font-family: 'Caladea';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(32, 32, 32, 0.5);
}

input[type="number"] {
    background-color: #F1F1F1;
    border: none;
    border-radius: 6px;
    width: 24rem;
    height: 3rem;
}

select {
    border-radius: 6px;
    width: 24rem;
    height: 3rem;
    padding: 0.5rem;
}

::-webkit-calendar-picker-indicator {
    border-radius: 6px;
    background-color: #F1F1F1;
    width: 3rem;
    height: 3rem;
    padding: 0.05rem;
    cursor: pointer;

}

#alinhar_botao_gerar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: -4.5rem;
    gap: 35px;
}

#alinhar_botao_submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 28px;
}

#label_inicio {
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;


}

#label_inicio input::before {

    display: flex;
    align-items: flex-end;
    content: "Data:";
    padding: 1.5rem;


}

#label_termino {
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

}

#label_termino input::before {

    display: flex;
    align-items: flex-end;
    content: "Data:";
    padding: 1.5rem;

}

#label_ate1 {
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#label_ate1 input::before {

    display: flex;
    align-items: flex-end;
    content: "Data:";
    padding: 1.5rem;

}

#label_ate2 {
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#label_ate2 input::before {

    display: flex;
    align-items: flex-end;
    content: "Data:";
    padding: 1.5rem;


}

#valorminimo {
    font-family: 'Caladea';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;

}

#valormaximo {
    font-family: 'Caladea';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;

}

#select_obra {
    font-family: 'Caladea';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
}

#select_bairro {
    font-family: 'Caladea';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
}

#checkbox {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: 15px;
    font-size: 1.5rem;
    cursor: pointer;

}

#botao-gerar {
    background-color: #A5CF3A;
    border-color: #A5CF3A;
    width: 16rem;
    height: 5rem;
    font-size: 2rem;
}

#botao-gerar:hover {
    box-shadow: 5px 5px 5px grey;
}

#botao-submit {
    border: 0.2rem solid #A5CF3A;
    background-color: #FFFFFF;
    width: 16rem;
    height: 5rem;
    font-size: 2rem;
}

#botao-submit:hover {

    box-shadow: 5px 5px 5px #A5CF3A;
}