@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

* {
    font-family: 'Caladea', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------- Inicio header -----------------------------*/
.container-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #000000;

}

.container-header_logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 15vh;
    width: 25%;

}

.container-header_logo img {
    height: 15vh;
    width: 20vw;

}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    height: 15vh;
    width: 50%;

}

nav a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #A5CF3A;

}


.container-header_user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 15vh;
    width: 25%;
}

.container-header_user a {
    text-decoration: none;
    color: #000;
    margin: 1%;

}


.imguser {
    height: 13vh;
    width: 10vw;


}

/*--------------------------- End header -----------------------------*/

/*-------------------------- Inicio Busca ----------------------------*/
.container-busca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 2vh 2vw;
    border-bottom: 1px solid #000000;
}

.container-busca_input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 25vw;
    height: 7vh;
}

.container-busca_input input {
    width: 25vw;
    height: 5vh;
    border-radius: 14px;
}

.lupa {
    width: 25px;
    height: 25px;
    margin-left: 1vw;
}
.container-busca_btn{
    display: flex;
    flex-direction: row;
    width: 45vw;
    height: 7vh;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.btnaddobra {
    width: 17vw;
    height: 6vh;
    border: 5px solid #A5CF3A;
    border-radius: 30px;
    background-color: #A5CF3A;
    font-size: 20px;
}

.btnfiltro {
    width: 15vw;
    height: 6vh;
    border: 5px solid #A5CF3A;
    border-radius: 30px;
    background-color: #A5CF3A;
    font-size: 20px;
}


/*-------------------------- End Busca ----------------------------*/

.container-obra {
    margin-top: 75px;
    border: 1px solid grey;
    border-radius: 40px;
    width: 96%;
    height: 180px;
    margin: 65px auto;
}

.container-obra:hover {
    border: 3px solid #A5CF3A;
    border-radius: 40px;
}

.img-obra {
    display: inline-block;
    width: 143px;
    height: 150px;
    margin-left: 10px;
    margin-top: 12px;
}


.container-obra h3 {
    display: block;
}

.objizq {
    display: inline-block;
    position: absolute;
    width: 143px;
    height: 165px;
    left: 20%;

}

.objdir {
    display: inline-block;
    position: absolute;
    width: 143px;
    height: 165px;
    right: 25%;
    padding-top: 0;
}