@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #202020;
    font-family: 'Caladea';
    box-sizing: border-box;
    text-decoration: none;
}

/*HEADER*/

/*--------------------------- Inicio header -----------------------------*/
.container-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #000000;

}

.container-header_logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 15vh;
    width: 25%;

}

.logo{
    width: 20vw;
    height: 12vh;
    margin-top: 1vh;
    margin-left: 1vw;
}




nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    height: 15vh;
    width: 50%;

}


nav a {
    text-decoration: none;
    color: #000;
    margin-left: 2vw;
}

a:hover {
    color: #A5CF3A;

}


.container-header_user {
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 15vh;
    width: 25%;
}

.container-header_user a {
    text-decoration: none;
    color: #000;
    margin: 1%;

}

.imguser {
    height: 10vh;
    width: auto;
    margin-right: 1vw;
}


/*--------------------------- End header -----------------------------*/








/*FIM HEADER*/
/*
input{
    width: 24rem;
    height: 52px;
    background-color: #F1F1F1;
    border-style: none;
    padding-left: 5%;
    border-radius: 5px;
}

select{
    width: 24rem;
    height: 52px;
    background-color: #F1F1F1;
    border-style: none;
    padding-left: 5%;
    border-radius: 5px;
}

.input_busca{
    width:300px;
    height: 30px;
    border: 1px solid #202020;
    background-color: #FFFFFF;
    border-radius: 14px;
    margin: 2vw 1vw;
}