@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

/*INFORMAÇÕES DA OBRA*/
.logo{
    height: 7vw;
}
.img{
    display: flex;
    align-items: center;
}
.obra{
    height: 300px;

}
body{
    font-family: 'Caladea';
    font-weight: 400;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15vw;
    
}
.usuario{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 5%;

}
.us{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.config{
    height:30px;
    width:30px;
 
}


.desc2 img{
    padding-left: 170px;
}
.links{
    
    font-size: 25px;
    display: flex;
    flex-direction:row;
    align-items:flex-end ;
    justify-content:center;
    gap: 150px;
    
}
a{
    text-decoration: none;
    color: black;
}

.conteudo{
    font-size: 18px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.desc{
    display: flex;
    flex-direction: row;
    gap: 10vw;
}
.desc1{
    display: flex;
    flex-direction: column;
}

.desc1 h3{
    margin-top: 4vh;
}

.desc1 h4{
    margin-top: 4vh;
}
.desc2{
    padding-top: 7%;
    display: flex;
    flex-direction: column;
}

.desc2 h4{
    margin-top: 4vh;
}


.lista{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vh 0 5vh 20vw ;
    
    
}
.part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}
#btp{
    background-color: #A5CF3A;
    border-style: none;
    width: 200px;
    height: 80px;
    margin-bottom: 2vw;
}

/*ABA CRONOGRAMAS*/
#cronogramas{
    padding: 0 3vw;
    display: none;
}

#botoes_cronog{
    display: flex;
    justify-content: center;
}

.botao_duplo{
    background-color: white;
    border: 1px solid #A5CF3A;
    border-radius: 25px;
}

#btn_fisico{
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#btn_financeiro{
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

table{
    padding: 0;
    text-align: center;
    border-collapse: collapse;
}

#tabela{
    margin: 0;
    border-collapse: collapse;
}

th{
    background-color: #A5CF3A;
    border: 1px solid #202020;
}

td{
    border: 1px solid #A5CF3A;
}

tr{
    border: 1px solid #A5CF3A;
}

.header_mes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mes{
    grid-column: 1 / span 2;
}

.data{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contrato{
    display: none;
}

#linha-01 th{
    width: 25vw;
}

#graficos {
    display: block;
    width: 90vw;
    margin-left: 1vw;
}

#graficos-desativado {
    display: block;
    width: 90vw;
    margin-left: 1vw;
   
    /* Hidden by default */
}
#contaienr-form_ajusteObra {
    display: none;
    position: absolute;
    z-index: 2;
    width: 10px;
    top: 100px;
    right:200vw;

}

.aba{
    margin-left: 8vw;
}