.main {
    display: flex;
    flex-direction: row;
}

.lado_direito {
    padding: 1rem;
    width: 90%;
    height: auto;
}

/* OBRA*/
.container-obra {
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 28vh;
    border: 1px solid grey;
    border-radius: 40px;
    margin: 3vh auto;
    flex-wrap: wrap;
    justify-content: space-around;

}

.container-obra:hover {
    border: 3px solid #A5CF3A;
    border-radius: 40px;
}

.container-obra_img {
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 13vw;
    margin-top: 2vh;
    margin-left: 1vw;
}

.objizq {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 25vh;
    justify-content: space-around;

}

.objdir {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 25vh;
    justify-content: space-around;
}

/*FIM OBRA*/


/*ASIDE*/
aside {
    padding: 1rem;
    width: 30vh;
    height: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #202020;

}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

.icone-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

#dados_usuario {
    padding-top: 5rem;
}

#ancora_acesso_div {
    padding-top: 14vw;
    width: 10vw;
    height: auto;
    font-size: 1.3rem;

}

/*FIM ASIDE*/

/*SUBMENU*/
.submenu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}

/* FIM_SUBMENU*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/*-----------MODAL*/

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fefefe;
    margin-left: 27vh;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: auto;
}

.close {
    color: #A5CF3A;
    font-size: 3rem;
    font-weight: bold;
}

#close_id{
    display: block;
    margin-left: 24vw;
    padding-bottom: 3vh;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*FIM MODAL*/

/*INPUT CHECKBOX */

.container_label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* RESET CHECKBOX */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* Qaundo o mousa passa sobre as opçoes*/
.container_label:hover input~.checkmark {
    background-color: #ccc;
}

/* cor da checkbox */
.container_label input:checked~.checkmark {
    background-color: #A5CF3A;
}

/* quando nao estiver selecionado*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* quando estiver selecionado(checkbox) */
.container_label input:checked~.checkmark:after {
    display: block;
}

/* estilo da checkmark */
.container_label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*FIM CHECKBOX*/