@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* OBRA*/
.container-obra {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 30vh;
    border: 1px solid grey;
    border-radius: 40px;
    margin: 3vh auto;
    flex-wrap: wrap;
    justify-content: space-around;

}

.container-obra:hover {
    border: 3px solid #A5CF3A;
    border-radius: 40px;
}

.container-obra_img {
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 13vw;
    margin-top: 2vh;
    margin-left: 1vw;
}

.objizq {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 25vh;
    justify-content: space-around;

}

.objdir {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 25vh;
    justify-content: space-around;
}

/*FIM OBRA*/

/*BOTAO FILTRO*/
#btnfiltro {
    width: 15vw;
    height: 6vh;
    border: 5px solid #A5CF3A;
    border-radius: 30px;
    background-color: #A5CF3A;
    font-size: 20px;
}

/*FIM BOTAO OBRA*/

/*BOTAO BUSCAR*/
#container-busca_input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 25vw;
    height: 7vh;
}

#container-busca_input input {
    width: 25vw;
    height: 6vh;
    border-radius: 14px;
    background-image:
}

/* FIM BOTAO BUSCAR*/

/*ASIDE*/
aside {
    padding: 1rem;
    width: 30vh;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
h4{
    font-size: 1.3rem;
    font-weight: 400;
}
.icone-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}
#ancora_acesso{
    padding-top: 5rem;
    font-size: 1.3rem;
}

/*FIM ASIDE*/

/*SUBMENU*/
.submenu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
}