body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #000000;
}

header img{
 
    width: 300px;
    height: 100px;
    top: 2%;
   
}

header h4{
    position: absolute;
    display: inline-block;
    margin: 0;
    right: 12%;
    top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

}

.sair{
    position: absolute;
    top: 12%;
    right: 12%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;

}

.user{
    position: absolute;
    right: 1%;
    width: 90px;
    height: 90px;
}

header nav {
    position: absolute;
    display: inline-block;
    margin: auto;
    width: 40%;
    top: 12%;
}

nav a{
    margin: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #A5CF3A;
}




.busca{
    position: absolute;
    width: 100%;
    top:20%
}

.busca input{
    width: 20%;
    height: 30px;
    border-radius: 15px;
    margin-left: 1%;
}

.busca img{
    width: 20px;
    height: 20px;
}

.btnfiltro{
    position: absolute;
    margin-left: 65%;
    border: 20px solid #A5CF3A;
    border-radius: 30px;
    background-color: #A5CF3A;
}

.btnaddfun{
    position: absolute;
    margin-left: 45%;
    border: 20px solid #A5CF3A;
    border-radius: 30px;
    background-color: #A5CF3A;
}

.container-user{
    position: absolute;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    top: 35%;
}


.perfiluser{
    position: absolute;
    display: inline-block;
    border: 1px solid #000000;
    width: 100%;
    height: 150px;
}

.perfiluser img{
    position: absolute;
    top:15%;
    width: 100px;
    height: 100px;
}



.perfiluser h3{
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 10%;
    left: 10%;
}


.hnome{
    display: inline-block;
    position: absolute;
    margin-top:2%;
    top: 15%;
    left: 10%;

}

.hcpf{
    display: inline-block;
    position: absolute;
    margin-top:3%;
    top:35%;
    left: 10%;
}

.hemail{
    display: inline-block;
    position: absolute;
    margin-top:3%;
    top:55%;
    left: 10%;

}

.htelefone{
    display: inline-block;
    position: absolute;
    margin-top:2%;
    top:15%;
    right: 31%;
}

.hnobras{
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    top:35%;
    right: 15%;
}

.hnivel{
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    top:55%;
    right:26%;
}

.container-nce{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 150px;
    left: 100px;
}

.container-tnn{
    position: absolute;
    padding-left: 0%;
}