/*---------------------- Inicio Trocar senha -----------------------*/


.container-trocasenha {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30vw;
    height: 40vh;
    margin: 15vh auto;
    align-items:center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 14px;
    background-color: #F1F1F1;
}

.container-trocasenha h3{
    width: 20vw;
    height: 10vh;
    margin: 0;
    text-align: center;
    flex-shrink: 1;
}
.container-trocasenha_form{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    align-items:center;
    flex-wrap: nowrap;
}

.container-trocasenha_input {
    background: #F1F1F1;
    width: 15vw;
    height: 6vh;
    border-radius: 8px;
    flex-shrink: 1;
    margin-bottom: 2vh;
}


.container-trocasenha_inputconf{
    width: 8vw;
    height: 3vw;
    background-color: #A5CF3A;
    border: none;
    margin: 5px;
    flex-shrink: 1;
    
}


/*--------------------------- End Trocar senha -----------------------------*/